@import url('../../components/globalStyles/GlobalStyles.module.scss');

html, body {
  height: 100%;
  margin: 0;
  background: #1a1a1a !important; 
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    background: #1a1a1a !important; 

    .container-post {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 330px;
        background: #1a1a1a !important; 
    }

    .container-friends {
        width: 30%;
        background: #252728 !important; 
        height: auto; 
        min-height: 100vh; 
    }
}
