@import url('../../components/globalStyles/GlobalStyles.module.scss');
.friend-request-list{
    width: 100%;
    margin-top: 20px;
    color: var(--texttitlecolor);
    h2{
      margin-left: 10px;
    }
    .friend-request-container{
      display: grid;
      grid-template-columns: repeat(5, 1fr); // 5 cột trên mỗi hàng
      gap: 15px;
      padding: 10px;
      color: var(--texttitlecolor);
    }
}