@import url("../globalStyles/GlobalStyles.module.scss");
.container-posting-form {
    width: 80%;
    padding: 10px;
    background-color: var(--backgroundPostColor);
    border-radius: 10px;
    .posting-form {
        display: flex;
        align-items: center;
        justify-content: flex-start; // Đẩy nội dung về bên trái
    }
    .posting-form-left {
        width: 50px; // Giữ kích thước cố định
        display: flex;
        justify-content: flex-start; // Căn về trái
        align-items: center;
        margin-right: 10px; // Tạo khoảng cách giữa avatar và textarea
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .default-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--background);
        }
    }
    .posting-form-right {
        flex: 1; // Đảm bảo textarea chiếm toàn bộ phần còn lại
        .posting-btn{
            width: 100%;
            height: 40px;
            border-radius: 20px;
            background-color: #333334;
            border: none;
            text-align: left;
            padding-left: 10px;
            color: var(--whitecolor);
            :hover{
                opacity: 0.4;
            }
        }

    }
    .posting-form-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--backgroundPostColor);
            border: none;
            color: var(--whitecolor);
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
    &.home {
        // style riêng cho Home
    }
    
    &.profile {
       width: 100%;
    }
}
